.hours-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(
    179.99deg,
    rgb(233, 233, 233) 10.45%,
    rgba(242, 242, 242, 0.965) 85.34%
  );
  mix-blend-mode: normal;
  backdrop-filter: blur(5px);
}

.hours-boxDark {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #363942;
  mix-blend-mode: normal;
  mix-blend-mode: normal;
  backdrop-filter: blur(5px);
}

.img-hours {
  width: 47.39px;
}

.hour-weather {
  grid-template-rows: repeat(3, auto);
  display: grid;
  align-items: stretch;
  justify-items: center;
  margin-top: 5%;
}

.forecastContainer {
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
}

.forecastContainerDark {
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #42464d;
}
.days {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;

  color: #515253;
}

.daysDark {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.dayOfWeek.dayOfWeek:active {
  --color: #1d272c;
  --position: center bottom;
  --width: 20px;
  --height: 1px;
  background: linear-gradient(var(--color), var(--color)) var(--position) /
    var(--width) var(--height) no-repeat;
}

.hour {
  font-size: 10px;
  font-weight: medium;
}

.hourDark {
  font-size: 10px;
  font-weight: medium;
  color: #ffffff;
}

.temperature {
  font-size: 13px;
  font-weight: 600;
}

.temperatureDark {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
}

.img-hours {
  height: 41px;
}
