.imgWeather {
    width: 20%;
  }
  
  .myCityTem {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
  }
  
  .myWeather {
    font-size: 2rem;
    font-weight: 500;
  }

  .weatherMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }