.toggle{
    height: 36px;
    width: 20px;
    border-radius: 10px;
    background-color: #282B33;
    position: relative;
    cursor: pointer;
    
    }
    
    .togglenight{
    background-color: whitesmoke;
    height: 36px;
    width: 20px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    }

    .notch{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all 0.3s ease;
    }
    
    .togglenight > .notch {
    background-color: #282B33;
    transform: translate(0,16px);
    }

    .toggle-container{
    position: absolute;
    top: 32px;
    right: 32px;
    
    
    }