.main-container {
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding-bottom: 28px;
  margin-left: 15px;
  margin-right: 15px;
}

.main-container h3 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #515253;
  line-height: 32px;
  margin: 0;
  font-weight: 400;
}

.main-container p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 12px;
  line-height: 32px;
  margin: 0;
  font-weight: 400;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
}

.sunrise-time {
  border-radius: 50%;
  width: 81.25px;
  height: 81.25px;
  border: 2px;
  background: linear-gradient(180deg, #ffe600 0%, #ff7a00 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

.sunset-time {
  border-radius: 50%;
  width: 81.25px;
  height: 81.25px;
  background: linear-gradient(180deg, #ff7a00 0%, #ff4d00 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

.border-Sunrise {
  background: linear-gradient(180deg, #ffff 10%, #ff7a00 100%);
  width: 81.25px;
  height: 81.25px;
  border-radius: 50%;
  padding: 2px;
}

.border-Sunset {
  background: linear-gradient(180deg, #ffff 10%, #ff4d00 100%);
  width: 81.25px;
  height: 81.25px;
  border-radius: 50%;
  padding: 2px;
}

.sun-position {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.datas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 16px;
}

.separator {
  width: 50px;
  height: 1px;
  background: linear-gradient(180deg, #ededed 80%, #e8e8e9 69%);
  transform: rotate(90deg);
}

.days {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 17px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;

  color: #515253;
}

.dayOfWeek.dayOfWeek:active {
  --color: #1d272c;
  --position: center bottom;
  --width: 20px;
  --height: 1px;
  background: linear-gradient(var(--color), var(--color)) var(--position) /
    var(--width) var(--height) no-repeat;
}

.incorporated-data {
  margin-top: -9px;
  font-weight: bold;
}
