.main-container{
    background-color: white;
    border-radius: 20px 20px 0 0;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #515253;
    line-height: 32px;
    margin: 0;
    font-weight: 400;
}

p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 32px;
margin: 0;
font-weight: 400;
text-align: center;
text-transform: lowercase;

color: #000000;
}

.sunrise-time{
border-radius: 50%;
width: 81.25px;
height: 81.25px;
border: 2px;
background: linear-gradient(180deg, #FFE600 0%, #FF7A00 100%);
display: flex;
align-items: center;
justify-content: center;
font-size: 16px;
font-weight: 500;
}

.sunset-time{
    border-radius: 50%;
    width: 81.25px;
    height: 81.25px;
    background: linear-gradient(180deg, #FF7A00 0%, #FF4D00 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    
}

.border-Sunrise{
    background:linear-gradient(180deg, #FFFF 10%, #FF7A00 100%);
    width: 81.25px;
    height: 81.25px;
    border-radius: 50%;
    padding: 2px;
}

.border-Sunset{
    background:linear-gradient(180deg, #FFFF 10%, #FF4D00 100%);
    width: 81.25px;
    height: 81.25px;
    border-radius: 50%;
    padding: 2px;
}

.sun-position{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
    margin-left: 20%;
    justify-content: space-evenly;
}

.datas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.wind{
    border-right: solid 1px #E3E3E3;
    padding-right: 5%;
    margin-right: 5%;
}

.humidity{
    border-right: solid 1px #E3E3E3;
    padding-right: 5%;
    margin-right: 5%;
}

.days{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 32px;
padding-left: 15px;
padding-right: 15px;
text-align: center;
text-transform: uppercase;

color: #515253;
margin-bottom: 20px;
}

.dayOfWeek.dayOfWeek:active{
    --color: #1d272c;
    --position: center bottom;
    --width: 20px;
    --height: 1px;
    background: linear-gradient(var(--color), var(--color)) var(--position) / var(--width) var(--height) no-repeat;
}