.saved-components{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;

    margin-left: 28px;
    margin-right: 33px;
    
}

.saved-icon{
    width: auto;
    height:70px;
}
.right{
    display: flex;
    align-items: center;
}



.cities-name-saved{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    margin-top:0px;
    text-transform: uppercase;
    
    color: #515253;
}
.country-name-saved{
    font-family: 'Roboto';
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 13px;
margin-top: 8;

text-transform: capitalize;

color: #D9D9D9;

}

.saved-temperature{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

text-transform: uppercase;

color: #515253;
}