.saved-cities-components {
  padding-bottom: 37px;
}

.saved-components {
  display: flex;
  align-items: end;
  justify-items: center;
  justify-content: space-between;
  height: 50px;
  margin-left: 28px;
  margin-right: 33px;
}

.saved-icon {
  width: 70px;
  height: auto;
}
.right {
  display: flex;
  align-items: center;
}

.cities-name-saved {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;

  color: #515253;
}
.country-name-saved {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  margin-top: 0px;
  text-align: left;
  text-transform: capitalize;

  color: #d9d9d9;
}

.saved-temperature {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-transform: uppercase;
  margin-left: 14px;
  color: #515253;
}

.cities-button-flexbox {
  display: flex;
  align-items: flex-start;
}

.remove-button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  margin-right: 7px;
}
