body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #ffffff 0%, #d9d9d9 100%);
}



.myCity {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.myDate {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 5px;
}

.weekDay {
  font-weight: 500;
}

.myFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sunnyLogo {
  width: 5rem;
  margin-bottom: 50px;
}

@media (min-width: 1024px) {
}

@media screen and (min-width : 1024px) {
  
  .sunnyLogo{
    position: absolute;
    top : 0;
  }

  .containerSearch{
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
  }

  .css-1s2u09g-control{
    width: 250px;
    margin-top: 20px;
  }


  .days{

  }

  .css-b62m3t-container{
    width: 250px;
  }

  .flexboxWeather{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .dayOfWeek:first-child{
    margin-right:70%;
  }
}
