body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #ffffff 0%, #d9d9d9 100%);
}

.weatherMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgba(0, 0, 0, 0.675);
}

.myCity {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.myDate {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 5px;
}

.weekDay {
  font-weight: 500;
}

.myFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sunnyLogo {
  width: 5rem;
}

@media (min-width: 1024px) {
}


