button {
  display: inline;
  border-radius: 10rem;
  color: #000000;
  text-transform: uppercase;
  font-size: 1rem;
  width: 90%;
  height: 63px;
  background-color: rgb(173, 172, 172);
  border: none;
}

button:active {
  transform: scale(0.98);
}
