

.savedlocations-box{
    background: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #FFFFFF;
    background: 
    linear-gradient(179.99deg, rgba(187, 187, 187, 0.65) 28.45%, rgba(242, 242, 242, 0.89) 85.34%);
    background-size: 50%,

}



.saved-title{
    text-align: left;
    
}

.adding-saved-locations{
    border: none;
    background-color: transparent;
    opacity: 100%;



}
.button-flexbox{
    display: flex;
    justify-content: flex-end;
    height: 64px;
}

.img-button{
    object-fit: none;
    height: 64px;
}

.box-saved-locations{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 32px;
margin-left: 28px;

text-align: center;
text-transform: uppercase;

color: #515253;
}