.body {
  box-sizing: border-box;
}


.savedlocations-box {
  border-radius: 23px 20px 0px 0px;
  border: 1px solid #ffffff;
  background: linear-gradient(179.99deg,rgb(233,233,233) 10.45%, rgba(242, 242, 242, 0.965) 85.34%);
  mix-blend-mode: normal;
  backdrop-filter: blur(5px);
  margin-right: 15px;
margin-left: 15px;
  margin-top: 31px;
  margin-bottom: 50px; 
}

.savedlocations-boxDark {
  border-radius: 23px 20px 0px 0px;
  border: 1px solid #363942;
  background: #34383F;
  mix-blend-mode: normal;
  backdrop-filter: blur(5px);
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 31px;
  margin-bottom: 50px; 
}

.saved-title {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  color: #515253;
  margin-left: 28px;
}

.saved-titleDark {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 28px;
}

.adding-saved-locations {
  border: none;
  background-color: transparent;
  opacity: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.button-flexbox {
  display: flex;
  justify-content: flex-end;
  height: 64px;
  margin-bottom: -52px;
}

.img-button {
  height: 90px;
  margin-top: -47px;
  margin-bottom: 11px;
  margin-right: -18px;
}
.img-button:active {
  transform: scale(0.98);
}

.box-saved-locations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  color: #515253;
}
